
body {
   font: 15px/1.5 Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
}
/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
    list-style:none;
}

.dark {
    padding:15px;
    background:#354241;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/*Header*/
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(230, 71, 97) 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: 10px;
}

header #branding{
    float: left;
}

header #branding h1 {
    margin: 0;
}

header ul {
    float: right; 
}

header .highlight, header .current a{
    color: rgb(230, 71, 97);
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.button_1{
    height:38px;
    background:rgb(230, 71, 97);
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background-color: rgb(230, 71, 97);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom:10px;
    
}
#showcase p{
    font-size: 20px;
    font-weight: bold;
    
}

/*newsletter */ 
#newsletter {
    padding: 15px;
    color: white;
    background: #35424a;
}

#newsletter h1{
    float:left;

}
#newsletter form {
    float: right;
    top: 50px;
}

#newsletter .button_1 {
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}

/* Boxes */

#boxes{
    margin-top: 20px;
}

#boxes .box {
    float:left;
    width:30%;
    padding:10px;
    text-align: center;
}

#boxes .box img {
    width: 180px;
    height: 180px;
}

/*services*/

ul#services li {
    list-style:none;
    padding:20px;
    border:gray solid 1px;
    margin-bottom:5px;
    color: white;
    background:#354241;

}
footer {
    padding: 5px 0 5px 0;
    margin-top : 20px;
    color: #ffffff;
    background-color: rgb(230, 71, 97);
    text-align: center;
    height: 50px;
    bottom: 0;
    width: 100%;
    word-spacing: 20px;
}

aside#sidebar {
    float:right;
    width:30%;
    margin-top:10px;
}

#sidebar h4 {
    float:left;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding:5px;
}
article#main-col{
    float:left;
    width:65%;
}

button a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(230, 71, 97);
}

aside a,
#services a{
    color: rgb(230, 71, 97);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
   
}

aside a:hover,
#services a:hover {
    color: #cccccc;
    font-weight: bold;
}

/*blog*/
.containblog {
    width: 95%;
    margin: auto;

}

article#blog{
    width:100%;
    border:gray solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
    padding: 5px 0 5px 0;
    margin-top : 20px;
}

#blog .box {
    float:left;
    width:30%;
    padding:10px;
    text-align: center;
}

textarea {
    height:70px;
}

.pics {
    width: 33%; 
    height: auto; 
    max-width: 700px; 
    max-height: 500px;
}

.projpics {
    width: 450px; 
    height: 270px; 
    max-width: 700px; 
    max-height: 500px;
}

h4 {
    text-align: center;
}

#mariestyle p{
    font-size: 1.45rem;
    line-height: 2.25rem;
    letter-spacing: -0.025rem;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

/*media queries*/

@media(max-width:900px) {
    header #branding,
    header nav,
    header li,
    header ul, 
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align: center;
        width:100%;
    }

    .pics { 
        display: block;
        height: auto; 
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .projpics { 
        display: block;
        height: auto; 
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    header {
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button{
        display:block;
        width:100%;
    }

    footer {
        height:75px;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
    }
}
